In [48]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [53]:
def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():


        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime( ' %d %B %Y ' )
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        hist
        df = pd.concat([df, hist])
    return df

In [88]:
days = 50
tickers = {
    'apple' : 'AAPL',
    'facebook' : 'FB',
    'google' : 'GOOGL',
    'microsoft' : 'MSFT',
    'netflix' : 'NFLX',
    'amazon' : 'AMZN'
}

df = get_data(days,tickers)

In [89]:
import altair as alt

In [90]:
df

Date,11 May 2022,12 May 2022,13 May 2022,16 May 2022,17 May 2022,18 May 2022,19 May 2022,20 May 2022,23 May 2022,24 May 2022,...,11 July 2022,12 July 2022,13 July 2022,14 July 2022,15 July 2022,18 July 2022,19 July 2022,20 July 2022,21 July 2022,22 July 2022
Name,,,,,,,,,,,,,,,,,,,,,
apple,146.500000,142.559998,147.110001,145.539993,149.240005,140.820007,137.350006,137.589996,143.110001,140.360001,...,144.869995,145.860001,145.490005,148.470001,150.169998,147.070007,151.000000,153.039993,155.350006,154.089996
facebook,188.740005,191.240005,198.619995,200.039993,202.619995,192.240005,191.289993,193.539993,196.229996,181.279999,...,162.880005,163.270004,163.490005,158.050003,164.699997,167.229996,175.779999,183.089996,183.169998,169.270004
google,113.602501,112.844002,116.050499,114.445000,116.473000,111.899498,110.384003,108.907997,111.487999,105.970001,...,115.676498,114.020500,111.353500,110.367500,111.777496,109.029999,113.809998,113.900002,114.339996,107.900002
microsoft,259.944550,254.756653,260.513245,260.892365,266.200012,254.080002,253.139999,252.559998,260.649994,259.619995,...,264.510010,253.669998,252.720001,254.080002,256.720001,254.250000,259.529999,262.269989,264.839996,260.359985
netflix,166.369995,174.309998,187.639999,186.509995,190.559998,177.190002,183.479996,186.350006,187.440002,180.339996,...,177.339996,174.449997,176.559998,174.779999,189.110001,190.919998,201.630005,216.440002,223.880005,220.440002
amazon,105.372002,106.930496,113.055000,110.810501,115.368500,107.112503,107.319000,107.591003,107.556999,104.099998,...,111.750000,109.220001,110.400002,110.629997,113.550003,113.760002,118.209999,122.769997,124.629997,122.419998

In [91]:
companies = ['apple', 'facebook']
data = df.loc[companies]

In [92]:
data.sort_index()

Date,11 May 2022,12 May 2022,13 May 2022,16 May 2022,17 May 2022,18 May 2022,19 May 2022,20 May 2022,23 May 2022,24 May 2022,...,11 July 2022,12 July 2022,13 July 2022,14 July 2022,15 July 2022,18 July 2022,19 July 2022,20 July 2022,21 July 2022,22 July 2022
Name,,,,,,,,,,,,,,,,,,,,,
apple,146.500000,142.559998,147.110001,145.539993,149.240005,140.820007,137.350006,137.589996,143.110001,140.360001,...,144.869995,145.860001,145.490005,148.470001,150.169998,147.070007,151.000000,153.039993,155.350006,154.089996
facebook,188.740005,191.240005,198.619995,200.039993,202.619995,192.240005,191.289993,193.539993,196.229996,181.279999,...,162.880005,163.270004,163.490005,158.050003,164.699997,167.229996,175.779999,183.089996,183.169998,169.270004

In [93]:
data = data.T.reset_index()
data.head()

Name           Date       apple    facebook
0      11 May 2022   146.500000  188.740005
1      12 May 2022   142.559998  191.240005
2      13 May 2022   147.110001  198.619995
3      16 May 2022   145.539993  200.039993
4      17 May 2022   149.240005  202.619995

In [94]:
data = pd.melt(data, id_vars= ['Date']).rename(
    columns = {'value': 'Stock Prices(USD)'}
)
data

              Date      Name  Stock Prices(USD)
0     11 May 2022      apple         146.500000
1     12 May 2022      apple         142.559998
2     13 May 2022      apple         147.110001
3     16 May 2022      apple         145.539993
4     17 May 2022      apple         149.240005
..             ...       ...                ...
95   18 July 2022   facebook         167.229996
96   19 July 2022   facebook         175.779999
97   20 July 2022   facebook         183.089996
98   21 July 2022   facebook         183.169998
99   22 July 2022   facebook         169.270004

[100 rows x 3 columns]

In [103]:
chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip = True)
    .encode(
        x = "Date:T",
        y=alt.Y("Stock Prices(USD):Q", stack = None, scale=alt.Scale(domain=[150, 300])),
        color = 'Name:N'
    )
)

In [104]:
chart

alt.Chart(...)